@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.position-absolute{
  position: absolute;
}

.position-relative{
  position: relative;
}

.left{
  left: 10px;
}

.middle-bottom{
  bottom: 0;
  left: 50%;
  color: white;

}

.top{
  top: 40%;
}

.right{
  right: 10px;
}

.w-65{
  width: 65%;
  height: 210px;
}

.rotate-180{
  transform: rotate(180deg);
}

.symbols-diporama{
  font-weight: bold;
  font-size: 100px;
  color: white;
  line-height: 100px;
  height: 100px;
}

.bg-black{
  background-color: black;
  padding: 30px;
  color: white;
  font-size: 20px;
}

.navbar{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 50%;
  padding: 20px;
  justify-content: center;
}

.navliens{
  display: flex;
  gap: 30px;
  font-size: 20px;

}




.navliens a{
  font-style: none;
  text-decoration: none;
  color: black;
}

.navliens a:hover{
  border-bottom: 1px solid black;
}

.sectionheader{
  padding: 70px;
  border-radius: 20px;  
  background-image: url("./assets/banner.png");
  width: 60%;
  background-size: cover;
  font-size: 50px;
  color: white;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartes{
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 30px;
  background-color: rgba(128, 128, 128, 0.06);
  width: 64%;
  border-radius: 10px;
  
}

.carte{
  padding: 0px;
  height: 340px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;

}

.carte img{
  border-radius: 10px;
}

.carte p{
  position:absolute;
  bottom: 0;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  width: 300px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
}

.bannercontainer img{
    width: 68%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(0.8);
    margin-bottom: 20px;
}

.bannercontainer2 #pp{
  width: 65%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  filter: brightness(0.8);
  margin-bottom: 20px;
}

.sectionheader p{
  font-weight: 700;
  font-size: 48px;
}

.premier-plan{
  z-index: 10;
}

.hidden-point{
  color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
  width: 68.3%;
  height: 200px;
  border-radius: 20px;
  position: absolute;
}

.position-relative{
  position: relative;
}

/* Footer */

.baspage{
  background-color: black;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  bottom: 0;
  position: relative;
  width: 100%;
  gap: 40px;
  padding-top: 50px;
  padding-bottom:30px ;
}

/* Tirroirs */

.tirroire{
  background-color: rgb(255 95 96);
  border-radius: 8px;
  padding: 15px;
  width: 56%;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  position: relative;
  border: 10px solid rgb(255 95 96);
}

.coprs-tirroir{
  width: 57.5%;
  padding: 15px;
  margin-top: -35px;
  background-color: #fbfbfb;
}

.tirroires{
  margin-top: 20px;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 120px;
}


.tirroire img{
  position: absolute;
  right: 0;
}

.tirroire p{
  position: absolute;
  left: 0;
}


.action-image{
  transition: 1s all ease;
}

.action-image:hover{
  transform: rotate(180deg);
}




/* La page Details logement */

.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 65%;
  gap: 20px;
}

.grid-n{
  display: grid;
  grid-template-columns: 160px 160px 160px;
  margin-bottom: 30px;
  gap: 10px;
}

.div-gauche h5{
  color: #fe615f;
  font-size: 35px;
  font-weight: 400;
}

.div-gauche p{
  margin-bottom: 20px;
  margin-top: 20px;
}

.div-gauche .tags{
  color: white;
  text-align: center;
  background-color: #fe615f;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid transparent;
  border-radius: 32px;
  font-size: 15px;
  font-weight: 400;
}

.host-pic{
  border-radius: 65px;
  width: 11%;
}

.host-name{
  color: #fe615f;
  width: 13%;
  text-align: end;
}

.float-right{
  float: right;
  justify-content: flex-end;
}

.gap-10{
  gap: 10px;
  width: 100%;
}

.block{
  display: block;
}

.tirroire-details{
  background-color: rgb(255 95 96);
  border-radius: 8px;
  padding: 15px;
  color: white;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  margin-top: 10px;
  border: 10px solid rgb(255 95 96);
}


.tirroire-details img{
  position: absolute;
  right: 0;
}

.tirroire-details p{
  position: absolute;
  left: 0;
}

.width-ajuste{
  width: 65%;
}


.stars{
  float: right;
  margin-top: 36px;
}

.grid-22{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 65%;
  gap: 20px;
  margin-bottom: 30px;
}


/* Page 404 */
.page-404{
  
}

.message-404{
  width: 597px;
  height: 263px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 288px;
  line-height: 410.69px;
  letter-spacing: 0%;
  text-align: center;
  color: #FF6060;
  margin-bottom: 180px;

}

.flex-direction-column{
  flex-direction: column;
}

.oups{
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0%;
  color:#FF6060;
  margin-bottom: 90px;
}

.retour-accueil{
  margin-bottom: 50px;
  color: black;
}

.tirroir-details-log > .coprs-tirroir{
  padding: 15px;
  margin-top: 2px !important;
  width: 94% !important;
  background-color: #fbfbfb;
}

.tirroir-details-log > .tirroire{
  background-color: rgb(255 95 96);
  border-radius: 8px;
  padding: 15px;
  color: white;
  width: 90% !important;
  font-weight: bolder;
  font-size: 15px !important;
  position: relative;
  border: 10px solid rgb(255 95 96);
}

.cartes > a > .carte >img{
  width: 100% !important;
}



@media screen and (max-width: 428px){
  .navbar > img{
    width: 110px !important;
    height: 36.8px !important;
  }

  .navbar{
    gap: 65px;
    padding: 10px;
  }

  .navliens{
    display: grid !important;
    grid-template-columns: 80px 80px;
    gap: 2px !important;
  }

  .navliens > a{
    font-size: 15px;
  }

  .sectionheader {

    border-radius: 20px;
    background-image: url("/src/assets/banner.png");
    width: 55%;
    background-size: cover;
    font-size: 50px;
    height: 0;
    color: white;
  }

  .hidden-point {
    width: 93%;
    position: absolute;
    top: 0;
    height: 140px;
    border-radius: 20px;
  }

  .sectionheader p {
    font-weight: 700;
    font-size: 23px;
    text-align: left;
    margin-left: -50px;
  }

  .cartes {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding: 15px !important;
    width: 100% !important;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.06) !important;
  }

  .baspage {
    color: white;
    font-size: 15px;
    text-align: center;
   
  }

  .baspage p{
    width: 40%;
    margin-top: -30px;
    margin-bottom: 40px;
  }

  .bannercontainer img {
    width: 90%;
    height: 129.6px;
  }

  .tirroire {
    width: 78.0% !important;
  }

  .tirroire p{
    font-size: 15px;
  }

  .coprs-tirroir {
    width: 78.0% !important;
    font-size: 15px;
  }

  .bannercontainer2 #pp {
    width: 90%;
    height: 255px;
    object-fit: unset !important;
    border-radius: 20px;
    filter: brightness(0.8);
    margin-bottom: 20px;
  }

  .w-65 {
    width: 90% !important;
  }

  .middle-bottom {
    display: none;
  }

  .d-flex > p > img{
    width: 15px;
    height: 19px;
  }

  .d-flex{
    margin-top: 16px;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    gap: 20px;
  }

  .div-droite{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 30px !important;
    margin-top: -20px;
    margin-bottom: 30px;
  }

  .host-pic {
    border-radius: 65px;
    width: 25%;
  }

  .stars{
    margin-top: 0px;
    width: 120%;
  }

  .stars > svg{
    width: 17px;
  }

  .gap-10{
    gap: 60px;
  }

  .width-ajuste{
    margin-left: -3%;
  }


  .div-gauche h5 {
    font-size: 25px;
  }

  .grid-n {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
    gap: 10px;
  }

  .div-gauche .tags {
    font-size: 13px;
    border-radius: 5px;
  }

  .message-404 {
    font-size: 96px;
    width: 100% !important;
    line-height: 230px;
    height: 100px;
  }

  .oups {
    font-size: 18px;
    text-align: center;
    width: 80%;
  }

  .retour-accueil {
    margin-bottom: 150px;
  }

  .cartes > a > .carte >img{
    width: 100% !important;
  }

  .grid-n > .tags{
    display: flex;
    justify-content: center;
    align-items: center;
  }


}